Import the data

In [910]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [911]:
df=pd.read_csv('datasets/airlines_reviews.csv')

In [991]:
df.head()

,airline,total_rate,review_title,review_date,verified,review,aircraft,traveller,class_type,route,origin,destiny,flight_date,seat_comfort,cabin_staff,foodrinks,ground_staff,value_for_money,recommended
0,AB Aviation,1,"""Not a good airline""",25th June 2019,True,Moroni to Anjouan. It is a very small airline...,E120,Solo Leisure,Economy Class,Moroni to Anjouan,Moroni,Anjouan,June 2019,2.0,2.0,1.0,1.0,2.0,no
1,AB Aviation,1,"""flight was fortunately short""",25th June 2019,True,Anjouan to Dzaoudzi. A very small airline an...,Embraer E120,Solo Leisure,Economy Class,Anjouan to Dzaoudzi,Anjouan,Dzaoudzi,June 2019,2.0,1.0,1.0,1.0,2.0,no
2,Adria Airways,1,"""Had very bad experience""",17th September 2019,True,Had very bad experience with rerouted and ca...,CR 900,Couple Leisure,Economy Class,Sarajevo to Ljubljana,Sarajevo,Ljubljana,September 2019,1.0,1.0,1.0,1.0,1.0,no
3,Adria Airways,1,"""book another company""",24th August 2019,False,"First of all, I am not complaining about a s...",Bombardier CRJ,Solo Leisure,Economy Class,Timisoara to Munich,Timisoara,Munich,August 2019,1.0,1.0,1.0,1.0,1.0,no
4,Adria Airways,3,"""should be ashamed of their operations""",5th December 2017,True,"Ljubljana to Vienna. Overall, the flight ser...",ATR-72,Solo Leisure,Economy Class,Ljubljana to Vienna,Ljubljana,Vienna,September 2017,2.0,4.0,1.0,1.0,3.0,no

In [913]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23171 entries, 0 to 23170
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              23171 non-null  int64
 1   Airline Name            23171 non-null  object
 2   Overall_Rating          23171 non-null  object
 3   Review_Title            23171 non-null  object
 4   Review Date             23171 non-null  object
 5   Verified                23171 non-null  bool
 6   Review                  23171 non-null  object
 7   Aircraft                7129 non-null   object
 8   Type Of Traveller       19433 non-null  object
 9   Seat Type               22075 non-null  object
 10  Route                   19343 non-null  object
 11  Date Flown              19417 non-null  object
 12  Seat Comfort            19016 non-null  float64
 13  Cabin Staff Service     18911 non-null  float64
 14  Food & Beverages        14500 non-null  float64
 15  Ground Service          18378 non-null  float64
 16  Inflight Entertainment  10829 non-null  float64
 17  Wifi & Connectivity     5920 non-null   float64
 18  Value For Money         22105 non-null  float64
 19  Recommended             23171 non-null  object
dtypes: bool(1), float64(7), int64(1), object(11)
memory usage: 3.4+ MB

EDA

In [914]:
print(df["Review Date"].min())
print(df["Review Date"].max())
#to check if we have enough time frame for the time series

10th April 2005
9th September 2022

In [915]:
#let's stick to the data where we have information on the aircraft ---23k to 7k

In [916]:
df = df.dropna(axis=0, subset=['Aircraft'])

In [917]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7129 entries, 1 to 23169
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              7129 non-null   int64
 1   Airline Name            7129 non-null   object
 2   Overall_Rating          7129 non-null   object
 3   Review_Title            7129 non-null   object
 4   Review Date             7129 non-null   object
 5   Verified                7129 non-null   bool
 6   Review                  7129 non-null   object
 7   Aircraft                7129 non-null   object
 8   Type Of Traveller       7129 non-null   object
 9   Seat Type               7129 non-null   object
 10  Route                   7122 non-null   object
 11  Date Flown              7122 non-null   object
 12  Seat Comfort            7029 non-null   float64
 13  Cabin Staff Service     7014 non-null   float64
 14  Food & Beverages        5885 non-null   float64
 15  Ground Service          7073 non-null   float64
 16  Inflight Entertainment  3919 non-null   float64
 17  Wifi & Connectivity     1864 non-null   float64
 18  Value For Money         7129 non-null   float64
 19  Recommended             7129 non-null   object
dtypes: bool(1), float64(7), int64(1), object(11)
memory usage: 1.1+ MB

In [918]:
from functions import nulls

In [919]:
nulls(df)

               column_name  nulls_percentage
0               Unnamed: 0          0.000000
1             Airline Name          0.000000
2           Overall_Rating          0.000000
3             Review_Title          0.000000
4              Review Date          0.000000
5                 Verified          0.000000
6                   Review          0.000000
7                 Aircraft          0.000000
8        Type Of Traveller          0.000000
9                Seat Type          0.000000
10                   Route          0.000982
11              Date Flown          0.000982
12            Seat Comfort          0.014027
13     Cabin Staff Service          0.016131
14        Food & Beverages          0.174499
15          Ground Service          0.007855
16  Inflight Entertainment          0.450274
17     Wifi & Connectivity          0.738533
18         Value For Money          0.000000
19             Recommended          0.000000

In [920]:
from functions import minusculas

In [921]:
minusculas(df)

In [922]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7129 entries, 1 to 23169
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   unnamed: 0              7129 non-null   int64
 1   airline name            7129 non-null   object
 2   overall_rating          7129 non-null   object
 3   review_title            7129 non-null   object
 4   review date             7129 non-null   object
 5   verified                7129 non-null   bool
 6   review                  7129 non-null   object
 7   aircraft                7129 non-null   object
 8   type of traveller       7129 non-null   object
 9   seat type               7129 non-null   object
 10  route                   7122 non-null   object
 11  date flown              7122 non-null   object
 12  seat comfort            7029 non-null   float64
 13  cabin staff service     7014 non-null   float64
 14  food & beverages        5885 non-null   float64
 15  ground service          7073 non-null   float64
 16  inflight entertainment  3919 non-null   float64
 17  wifi & connectivity     1864 non-null   float64
 18  value for money         7129 non-null   float64
 19  recommended             7129 non-null   object
dtypes: bool(1), float64(7), int64(1), object(11)
memory usage: 1.1+ MB

In [923]:
#finish renaming of variables:

In [924]:
df.rename(columns={'overall_rating':'total_rate'}, inplace=True)
df.rename(columns={'airline name':'airline'}, inplace=True)
df.rename(columns={'review date':'review_date'}, inplace=True)
df.rename(columns={'type of traveller':'traveller'}, inplace=True)
df.rename(columns={'seat type':'class_type'}, inplace=True)
df.rename(columns={'date flown':'flight_date'}, inplace=True)
df.rename(columns={'seat comfort':'seat_comfort'}, inplace=True)
df.rename(columns={'cabin staff service':'cabin_staff'}, inplace=True)
df.rename(columns={'food & beverages':'foodrinks'}, inplace=True)
df.rename(columns={'ground service':'ground_staff'}, inplace=True)
df.rename(columns={'inflight entertainment':'entertainment'}, inplace=True)
df.rename(columns={'wifi & connectivity':'connectivity'}, inplace=True)
df.rename(columns={'value for money':'value_for_money'}, inplace=True)

In [925]:
#droping unnamed variable, does not give any additional info

In [926]:
df.drop(columns="unnamed: 0", inplace=True)

In [927]:
#briew revision of all variables

In [928]:
df.columns

Index(['airline', 'total_rate', 'review_title', 'review_date', 'verified',
       'review', 'aircraft', 'traveller', 'class_type', 'route', 'flight_date',
       'seat_comfort', 'cabin_staff', 'foodrinks', 'ground_staff',
       'entertainment', 'connectivity', 'value_for_money', 'recommended'],
      dtype='object')

In [929]:
df.shape #ok

(7129, 19)

In [930]:
df.drop_duplicates(inplace=True)

In [931]:
df.shape #only two duplicates

(7127, 19)

In [932]:
df.airline.value_counts()

airline
Thomson Airways                     81
Hainan Airlines                     78
Garuda Indonesia                    77
Royal Brunei Airlines               74
SilkAir                             68
                                    ..
ASKY Airlines                        1
Thomas Cook Airlines Scandinavia     1
Novoair                              1
Mack Air                             1
Manta Air                            1
Name: count, Length: 438, dtype: int64

In [933]:
df.total_rate.value_counts() #let's check later whether the values correspond to the actual review (e.g. 1 is always good or some people 
#consider it bad?)

total_rate
1    2489
9     968
8     953
7     710
2     604
3     401
6     376
5     325
4     301
Name: count, dtype: int64

In [934]:
df.verified.value_counts()

verified
True     4475
False    2652
Name: count, dtype: int64

In [935]:
df.aircraft.value_counts()

aircraft
A320                         1041
Boeing 737-800                553
Boeing 737                    404
Boeing 787                    349
A330                          349
                             ...
A350-900 / Boeing 777-300       1
A350-900 / Boeing 747-400       1
Boeing 777/350                  1
A350 / B744                     1
Boeing787                       1
Name: count, Length: 1048, dtype: int64

In [936]:
df.traveller.value_counts()

traveller
Solo Leisure      2678
Couple Leisure    1835
Family Leisure    1325
Business          1289
Name: count, dtype: int64

In [937]:
df.seat_comfort.value_counts()

seat_comfort
4.0    1844
5.0    1556
3.0    1432
1.0    1337
2.0     858
Name: count, dtype: int64

In [938]:
df.cabin_staff.value_counts()

cabin_staff
5.0    2657
4.0    1485
1.0    1142
3.0    1025
2.0     703
Name: count, dtype: int64

In [939]:
df.foodrinks.value_counts()

foodrinks
5.0    1376
1.0    1316
4.0    1303
3.0    1123
2.0     765
Name: count, dtype: int64

In [940]:
df.connectivity.value_counts()

connectivity
1.0    959
5.0    304
4.0    223
3.0    219
2.0    158
Name: count, dtype: int64

In [941]:
df.ground_staff.value_counts()

ground_staff
1.0    1874
5.0    1871
4.0    1656
3.0    1018
2.0     652
Name: count, dtype: int64

In [942]:
df.entertainment.value_counts()

entertainment
1.0    1198
3.0     814
4.0     739
5.0     662
2.0     505
Name: count, dtype: int64

In [943]:
df.value_for_money.value_counts()

value_for_money
5.0    2258
1.0    1630
4.0    1456
3.0    1000
2.0     783
Name: count, dtype: int64

In [944]:
df.recommended.value_counts()

recommended
yes    4117
no     3010
Name: count, dtype: int64

In [945]:
df.describe()

,seat_comfort,cabin_staff,foodrinks,ground_staff,entertainment,connectivity,value_for_money
count,7027.000000,7012.000000,5883.000000,7071.00000,3918.000000,1863.000000,7127.000000
mean,3.202647,3.543639,3.111848,3.14114,2.786115,2.331723,3.270661
std,1.410860,1.477818,1.473003,1.55735,1.473514,1.571940,1.556716
min,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000
25%,2.000000,2.000000,2.000000,1.00000,1.000000,1.000000,2.000000
50%,3.000000,4.000000,3.000000,3.00000,3.000000,1.000000,4.000000
75%,4.000000,5.000000,4.000000,5.00000,4.000000,4.000000,5.000000
max,5.000000,5.000000,5.000000,5.00000,5.000000,5.000000,5.000000

In [946]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7127 entries, 1 to 23169
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   airline          7127 non-null   object
 1   total_rate       7127 non-null   object
 2   review_title     7127 non-null   object
 3   review_date      7127 non-null   object
 4   verified         7127 non-null   bool
 5   review           7127 non-null   object
 6   aircraft         7127 non-null   object
 7   traveller        7127 non-null   object
 8   class_type       7127 non-null   object
 9   route            7120 non-null   object
 10  flight_date      7120 non-null   object
 11  seat_comfort     7027 non-null   float64
 12  cabin_staff      7012 non-null   float64
 13  foodrinks        5883 non-null   float64
 14  ground_staff     7071 non-null   float64
 15  entertainment    3918 non-null   float64
 16  connectivity     1863 non-null   float64
 17  value_for_money  7127 non-null   float64
 18  recommended      7127 non-null   object
dtypes: bool(1), float64(7), object(11)
memory usage: 1.0+ MB

In [947]:
df.class_type.value_counts()

class_type
Economy Class      5462
Business Class     1266
Premium Economy     286
First Class         113
Name: count, dtype: int64

In [948]:
df.sample()

,airline,total_rate,review_title,review_date,verified,review,aircraft,traveller,class_type,route,flight_date,seat_comfort,cabin_staff,foodrinks,ground_staff,entertainment,connectivity,value_for_money,recommended
12998,Korean Air,9,"""would recommend this airline as always""",10th July 2019,True,Rome Fiumicino to Seoul Incheon with Korean A...,Boeing 747-8,Family Leisure,Business Class,Rome Fiumicino to Seoul Incheon,July 2019,5.0,5.0,5.0,5.0,2.0,NaN,5.0,yes

In [949]:
df.total_rate=pd.to_numeric(df.total_rate)

In [950]:
df.reset_index(inplace=True)

In [951]:
#hasta aquí, ok

Imputing missing values

In [952]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7127 entries, 0 to 7126
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   index            7127 non-null   int64
 1   airline          7127 non-null   object
 2   total_rate       7127 non-null   int64
 3   review_title     7127 non-null   object
 4   review_date      7127 non-null   object
 5   verified         7127 non-null   bool
 6   review           7127 non-null   object
 7   aircraft         7127 non-null   object
 8   traveller        7127 non-null   object
 9   class_type       7127 non-null   object
 10  route            7120 non-null   object
 11  flight_date      7120 non-null   object
 12  seat_comfort     7027 non-null   float64
 13  cabin_staff      7012 non-null   float64
 14  foodrinks        5883 non-null   float64
 15  ground_staff     7071 non-null   float64
 16  entertainment    3918 non-null   float64
 17  connectivity     1863 non-null   float64
 18  value_for_money  7127 non-null   float64
 19  recommended      7127 non-null   object
dtypes: bool(1), float64(7), int64(2), object(10)
memory usage: 1.0+ MB

In [953]:
df = df.dropna(axis=0, subset=['route']) ##to complicated to impute

In [954]:
df.shape #ok

(7120, 20)

In [955]:
df.seat_comfort.info()

<class 'pandas.core.series.Series'>
Index: 7120 entries, 0 to 7126
Series name: seat_comfort
Non-Null Count  Dtype
--------------  -----
7021 non-null   float64
dtypes: float64(1)
memory usage: 111.2 KB

In [956]:
df['seat_comfort']=df.seat_comfort.fillna(round(np.mean(df.seat_comfort)))

In [957]:
df.seat_comfort.value_counts() #ok

seat_comfort
4.0    1844
5.0    1555
3.0    1530
1.0    1336
2.0     855
Name: count, dtype: int64

In [958]:
df.ground_staff.info()

<class 'pandas.core.series.Series'>
Index: 7120 entries, 0 to 7126
Series name: ground_staff
Non-Null Count  Dtype
--------------  -----
7065 non-null   float64
dtypes: float64(1)
memory usage: 111.2 KB

In [959]:
df['ground_staff']=df.ground_staff.fillna(round(np.mean(df.ground_staff)))

In [960]:
df.ground_staff.value_counts() #ok

ground_staff
1.0    1872
5.0    1870
4.0    1656
3.0    1071
2.0     651
Name: count, dtype: int64

In [961]:
df.cabin_staff.info()

<class 'pandas.core.series.Series'>
Index: 7120 entries, 0 to 7126
Series name: cabin_staff
Non-Null Count  Dtype
--------------  -----
7006 non-null   float64
dtypes: float64(1)
memory usage: 111.2 KB

In [962]:
df['cabin_staff']=df.cabin_staff.fillna(round(np.mean(df.cabin_staff)))

In [963]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7120 entries, 0 to 7126
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   index            7120 non-null   int64
 1   airline          7120 non-null   object
 2   total_rate       7120 non-null   int64
 3   review_title     7120 non-null   object
 4   review_date      7120 non-null   object
 5   verified         7120 non-null   bool
 6   review           7120 non-null   object
 7   aircraft         7120 non-null   object
 8   traveller        7120 non-null   object
 9   class_type       7120 non-null   object
 10  route            7120 non-null   object
 11  flight_date      7114 non-null   object
 12  seat_comfort     7120 non-null   float64
 13  cabin_staff      7120 non-null   float64
 14  foodrinks        5878 non-null   float64
 15  ground_staff     7120 non-null   float64
 16  entertainment    3914 non-null   float64
 17  connectivity     1859 non-null   float64
 18  value_for_money  7120 non-null   float64
 19  recommended      7120 non-null   object
dtypes: bool(1), float64(7), int64(2), object(10)
memory usage: 1.1+ MB

In [964]:
df = df.dropna(axis=0, subset=['foodrinks']) ##to complicated to impute

In [965]:
df.shape #we will finally stick to this? ask

(5878, 20)

In [966]:
df['flight_date'] = df['flight_date'].fillna(df['flight_date'].mode()[0])

In [967]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5878 entries, 0 to 7126
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   index            5878 non-null   int64
 1   airline          5878 non-null   object
 2   total_rate       5878 non-null   int64
 3   review_title     5878 non-null   object
 4   review_date      5878 non-null   object
 5   verified         5878 non-null   bool
 6   review           5878 non-null   object
 7   aircraft         5878 non-null   object
 8   traveller        5878 non-null   object
 9   class_type       5878 non-null   object
 10  route            5878 non-null   object
 11  flight_date      5878 non-null   object
 12  seat_comfort     5878 non-null   float64
 13  cabin_staff      5878 non-null   float64
 14  foodrinks        5878 non-null   float64
 15  ground_staff     5878 non-null   float64
 16  entertainment    3796 non-null   float64
 17  connectivity     1785 non-null   float64
 18  value_for_money  5878 non-null   float64
 19  recommended      5878 non-null   object
dtypes: bool(1), float64(7), int64(2), object(10)
memory usage: 924.2+ KB

In [968]:
df.drop('entertainment', axis=1, inplace=True)
df.drop('connectivity', axis=1, inplace=True)

In [969]:
df.shape

(5878, 18)

In [970]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5878 entries, 0 to 7126
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   index            5878 non-null   int64
 1   airline          5878 non-null   object
 2   total_rate       5878 non-null   int64
 3   review_title     5878 non-null   object
 4   review_date      5878 non-null   object
 5   verified         5878 non-null   bool
 6   review           5878 non-null   object
 7   aircraft         5878 non-null   object
 8   traveller        5878 non-null   object
 9   class_type       5878 non-null   object
 10  route            5878 non-null   object
 11  flight_date      5878 non-null   object
 12  seat_comfort     5878 non-null   float64
 13  cabin_staff      5878 non-null   float64
 14  foodrinks        5878 non-null   float64
 15  ground_staff     5878 non-null   float64
 16  value_for_money  5878 non-null   float64
 17  recommended      5878 non-null   object
dtypes: bool(1), float64(5), int64(2), object(10)
memory usage: 832.3+ KB

In [971]:
#clean dataset!

Feature Engineering

In [972]:
new = df["route"].str.split(r"\bto\b", expand=True)

In [973]:
new.reset_index(drop=True, inplace=True)

In [974]:
new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5878 entries, 0 to 5877
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       5878 non-null   object
 1   1       5869 non-null   object
 2   2       3 non-null      object
dtypes: object(3)
memory usage: 137.9+ KB

In [975]:
df.reset_index(drop=True, inplace=True)

In [976]:
df.drop(columns='index', inplace=True)

In [977]:
df.sample()

,airline,total_rate,review_title,review_date,verified,review,aircraft,traveller,class_type,route,flight_date,seat_comfort,cabin_staff,foodrinks,ground_staff,value_for_money,recommended
4843,South African Airways,9,"""Wonderful airline to fly""",4th December 2019,True,Lilongwe to London via Johannesburg. Wonderf...,A330-300,Business,Business Class,Lilongwe to London via Johannesburg,November 2019,3.0,5.0,5.0,4.0,4.0,yes

In [978]:
df = pd.concat([df.iloc[:, :10], new, df.iloc[:, 10:]], axis=1)

In [979]:
df

,airline,total_rate,review_title,review_date,verified,review,aircraft,traveller,class_type,route,0,1,2,flight_date,seat_comfort,cabin_staff,foodrinks,ground_staff,value_for_money,recommended
0,AB Aviation,1,"""Not a good airline""",25th June 2019,True,Moroni to Anjouan. It is a very small airline...,E120,Solo Leisure,Economy Class,Moroni to Anjouan,Moroni,Anjouan,None,June 2019,2.0,2.0,1.0,1.0,2.0,no
1,AB Aviation,1,"""flight was fortunately short""",25th June 2019,True,Anjouan to Dzaoudzi. A very small airline an...,Embraer E120,Solo Leisure,Economy Class,Anjouan to Dzaoudzi,Anjouan,Dzaoudzi,None,June 2019,2.0,1.0,1.0,1.0,2.0,no
2,Adria Airways,1,"""Had very bad experience""",17th September 2019,True,Had very bad experience with rerouted and ca...,CR 900,Couple Leisure,Economy Class,Sarajevo to Ljubljana,Sarajevo,Ljubljana,None,September 2019,1.0,1.0,1.0,1.0,1.0,no
3,Adria Airways,1,"""book another company""",24th August 2019,False,"First of all, I am not complaining about a s...",Bombardier CRJ,Solo Leisure,Economy Class,Timisoara to Munich,Timisoara,Munich,None,August 2019,1.0,1.0,1.0,1.0,1.0,no
4,Adria Airways,3,"""should be ashamed of their operations""",5th December 2017,True,"Ljubljana to Vienna. Overall, the flight ser...",ATR-72,Solo Leisure,Economy Class,Ljubljana to Vienna,Ljubljana,Vienna,None,September 2017,2.0,4.0,1.0,1.0,3.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5873,ZIPAIR,1,ZIPAIR customer review,21st April 2023,True,The seats are abysmal for a long-haul flight...,Boeing 787,Couple Leisure,Economy Class,Los Angeles to Tokyo,Los Angeles,Tokyo,None,April 2023,1.0,2.0,1.0,1.0,1.0,no
5874,ZIPAIR,1,"""I cannot say enough good things about Zipair""",21st November 2022,False,I cannot say enough good things about Zipair...,Boeing 787-8,Couple Leisure,Business Class,Los Angeles to Narita,Los Angeles,Narita,None,November 2022,5.0,5.0,4.0,5.0,5.0,yes
5875,ZIPAIR,9,"""I highly recommend ZipAir""",11th November 2022,True,It was my first time with ZipAir and I was a...,Boeing 787,Solo Leisure,Economy Class,Honolulu to Tokyo Narita,Honolulu,Tokyo Narita,None,November 2022,4.0,5.0,4.0,5.0,5.0,yes
5876,ZIPAIR,5,"""insist I paid for another 23kg of luggage""",10th November 2022,True,Twenty years in the film distribution busine...,Boeing 787,Solo Leisure,Economy Class,Tokyo Narita to Singapore,Tokyo Narita,Singapore,None,November 2022,5.0,3.0,4.0,1.0,4.0,no
5877,ZIPAIR,6,"""It was immaculately clean""",23rd May 2022,True,Zipair is JAL’s budget airline. They don’t ha...,Dreamliner,Business,Business Class,Tokyo to Los Angeles,Tokyo,Los Angeles,None,May 2022,3.0,4.0,3.0,1.0,5.0,yes

In [980]:
df.rename(columns={df.columns[10]: 'origin'}, inplace=True)
df.rename(columns={df.columns[11]: 'destiny'}, inplace=True)

In [981]:
df.drop(columns=df.columns[12], inplace=True)

In [982]:
df.shape

(5878, 19)

In [983]:
df.destiny.value_counts()

destiny
Bangkok              125
London                95
Singapore             87
Hong Kong             69
Sydney                60
                    ...
Lisbon via Geneve      1
CUC                    1
EOH                    1
Pereira                1
Ndola                  1
Name: count, Length: 2219, dtype: int64

In [984]:
new2 = df["destiny"].str.split(r"\bvia\b", expand=True)

In [986]:
df.head()

,airline,total_rate,review_title,review_date,verified,review,aircraft,traveller,class_type,route,origin,destiny,flight_date,seat_comfort,cabin_staff,foodrinks,ground_staff,value_for_money,recommended
0,AB Aviation,1,"""Not a good airline""",25th June 2019,True,Moroni to Anjouan. It is a very small airline...,E120,Solo Leisure,Economy Class,Moroni to Anjouan,Moroni,Anjouan,June 2019,2.0,2.0,1.0,1.0,2.0,no
1,AB Aviation,1,"""flight was fortunately short""",25th June 2019,True,Anjouan to Dzaoudzi. A very small airline an...,Embraer E120,Solo Leisure,Economy Class,Anjouan to Dzaoudzi,Anjouan,Dzaoudzi,June 2019,2.0,1.0,1.0,1.0,2.0,no
2,Adria Airways,1,"""Had very bad experience""",17th September 2019,True,Had very bad experience with rerouted and ca...,CR 900,Couple Leisure,Economy Class,Sarajevo to Ljubljana,Sarajevo,Ljubljana,September 2019,1.0,1.0,1.0,1.0,1.0,no
3,Adria Airways,1,"""book another company""",24th August 2019,False,"First of all, I am not complaining about a s...",Bombardier CRJ,Solo Leisure,Economy Class,Timisoara to Munich,Timisoara,Munich,August 2019,1.0,1.0,1.0,1.0,1.0,no
4,Adria Airways,3,"""should be ashamed of their operations""",5th December 2017,True,"Ljubljana to Vienna. Overall, the flight ser...",ATR-72,Solo Leisure,Economy Class,Ljubljana to Vienna,Ljubljana,Vienna,September 2017,2.0,4.0,1.0,1.0,3.0,no

In [988]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5878 entries, 0 to 5877
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   airline          5878 non-null   object
 1   total_rate       5878 non-null   int64
 2   review_title     5878 non-null   object
 3   review_date      5878 non-null   object
 4   verified         5878 non-null   bool
 5   review           5878 non-null   object
 6   aircraft         5878 non-null   object
 7   traveller        5878 non-null   object
 8   class_type       5878 non-null   object
 9   route            5878 non-null   object
 10  origin           5878 non-null   object
 11  destiny          5869 non-null   object
 12  flight_date      5878 non-null   object
 13  seat_comfort     5878 non-null   float64
 14  cabin_staff      5878 non-null   float64
 15  foodrinks        5878 non-null   float64
 16  ground_staff     5878 non-null   float64
 17  value_for_money  5878 non-null   float64
 18  recommended      5878 non-null   object
dtypes: bool(1), float64(5), int64(1), object(12)
memory usage: 832.5+ KB

In [990]:
df

2219

In [ ]:
##### FALTA POR QUITAR LA ESCALA. crear una booleana que sea escala sí/no

Questions

1- reviews over time: prophet
2- classification system: creating an overall rating, recommend which is the best airline
3- classification system: including a country, which is the best airline to use
4- what does affect that an airline is recommended or not (logit)
5- clustering
6- sentiment analysis
7- Tableau: que metiendo un avion me diga reviews, a donde vuela, etc.

In [ ]:
df["Airline Name"].nunique()

In [ ]:
(df["Airline Name"]== 'British airways').sum()